/* fonts */

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 2.2rem;
}
h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 2rem;
}
h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.6rem;
}
h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.4rem;
}
h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.2rem;
}
.logo {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.25rem;
  color: white;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
/* figcaption {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2vw;
  color: white;
  filter: drop-shadow(0 0 10px var(--custom-black));
} */
p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1rem;
}
a {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.3rem;
  color: white;
}
