/* farver */
html {
  --custom-text-color: #34313a;
  --custom-text-headliners: #910686;
  --custom-borders: #910686;
  --custom-hover: #c308b3;
  --custom-black: #17171a;
  --custom-box: #171717;
  /* test */
  /* ---costom-bacgkground: #291b50; */
  --costom-other: #da1d57;
}

/* fonts */

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 2.2rem;
  color: var(--custom-text-color);
}
h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 2rem;
  color: var(--custom-text-color);
}
h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.6rem;
  color: var(--custom-text-color);
}
h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.4rem;
  color: var(--custom-text-color);
}
h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.2rem;
  color: var(--custom-text-color);
}
h6 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4rem;
  font-size: 1rem;
  color: var(--custom-text-color);
}
figcaption {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.4rem;
  font-size: 0.9rem;
  /*  color: var(--custom-text-color);*/
  color: #cdc3e6;
}
.logo {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.25rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  border-right: 2px solid #34313a;
  color: var(--custom-text-color);
}
button {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2rem;
  /*   font-size: 1.25rem; */
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.cv-possition {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.3rem;
  color: var(--custom-text-color);
}
td {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.3rem;
  color: var(--custom-text-color);
}

p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1rem;
  color: var(--custom-text-color);
}
a {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.3rem;
  /* color: rgb(0, 0, 0); */
  color: var(--custom-text-color);
}
/* knapper design og font */
button {
  padding: 0 10px;
  /* margin: 10px 10px; */
  width: 35%;
  padding: 10px 0;
  background: transparent;
  color: var(--custom-white);
  font-size: 9px;
  border: 1px solid;
  border-color: var(--custom-text);
  border-radius: 8px;
  margin-top: 35px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
}
footer {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1rem;
  color: var(--custom-text-color);
}

/* .cv-knap:hover {
  background: #c308b3;
  border: none;
  color: white;
  cursor: pointer;
} */
